<%= render 'layouts/header'%>
<div class="container">
<div class="card text-center">
  <div class="card-header">
    レビュー一覧
  </div>
   <div class="card-body">
     <div class="row">
      <% @saunas.each do |sauna| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card">
         <div class="card-header">
          <strong><%= sauna.name %></strong>
         </div>
          <div class="card-body">
           <p class="card-text"><%= image_tag sauna.get_profile_image(100,100)%></p>
          </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">住所:<%= sauna.prefecture %><%= sauna.place %></li>
          <li class="list-group-item">サウナ室温度::<%= sauna.temperature %>度</li>
          <li class="list-group-item">入浴料:<%= sauna.price %>円</li>
          <li class="list-group-item">利用時間:<%= sauna.time %>時間</li>
          <li class="list-group-item">定休日:<%= sauna.holiday %>曜日</li>
          <li class="list-group-item">投稿者名:<%= link_to sauna.user.name, admin_user_path(sauna.user) %></li>
          <li class="list-group-item">コメントを見る:<%= link_to sauna.comments.size,admin_sauna_comments_path(sauna) %></li>
          <li class="list-group-item"><%= link_to '詳細', admin_sauna_path(sauna.id), class:"btn btn-primary" %></li>
        </ul>
          </div>
         </div>
         <% end %>
       </div>
    </div>
  </div>
</div>
  <%= render 'layouts/footer'%>