<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-8 col-lg-8 px-8 px-sm-0 mx-auto">
      <div class="card text-center">
    <div class="card-header">
      <h4>サウナ詳細画面</h4>
    </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-12">
              <div class="card">
                <div class="card-header">
                  <h4><strong><%= @sauna.name %></strong></h4>
                  </div>
                  <div class="card-body">
                    <%= image_tag @sauna.get_profile_image(500,500), class: "img-fluid"  %></br>
                    <div id="map"></div>
                    <strong><%= @sauna.comment %></strong></br>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><h5><strong>住所:</strong></h5>〒</br><%= @sauna.post_code %></br><%= @sauna.prefecture %><%= @sauna.place %></br><%= @sauna.address %></li>
                      <li class="list-group-item"><h5><strong>サウナ室温度:</strong></h5><%= @sauna.temperature %>度</li>
                      <li class="list-group-item"><h5><strong>入浴料:</strong></h5><%= @sauna.price %>円</li>
                      <li class="list-group-item"><h5><strong>利用時間:</strong></h5><%= @sauna.time %>時間</li>
                      <li class="list-group-item"><h5><strong>定休日:</strong></h5><%= @sauna.holiday %>曜日</li>
                      <li class="list-group-item"><h5><strong>投稿日:</strong></h5><%= I18n.l @sauna.created_at %></li>
                      <li class="list-group-item"><%= link_to '削除',admin_sauna_path(@sauna.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></li>
                  </ul>
                  <style>#map{ height: 450px;}</style>
                      <script>
                      let map;
                      function initMap() {
                        geocoder = new google.maps.Geocoder()
                        map = new google.maps.Map(document.getElementById('map'), {
                          center: {
                                    lat: gon.sauna.latitude,
                                    lng: gon.sauna.longitude
                                  },
                          zoom: 16,
                        });

                        // ピン立て
                        marker = new google.maps.Marker({
                          position: {
                                      lat: gon.sauna.latitude,
                                      lng: gon.sauna.longitude
                                    },
                          map: map
                        });
                      }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap" async defer></script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

