<%= render 'layouts/header'%>
<div class="container ">
  <div class="card text-center">
    <div class="card-header">
    <h4><%= link_to @sauna.name , sauna_path(@sauna.id)  %>コメント一覧ページ</h4>
        <h4><%= @sauna.prefecture %><%= @sauna.place %></h4>
            <div id="post_raty"></div>
              <div id="favorite_btn_<%= @sauna.id %>">
              <%= render 'public/favorites/favorite', sauna: @sauna %>
              </div>
                </div>
              <div class="card-body">
                <div class="row">
                    <% @comments.each do |comment| %>
                  <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <div class="card">
                      <div class="card-header">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><h5><%= comment.user.name %></h5></li>
                          <li class="list-group-item"><%= image_tag comment.user.get_profile_image, class: "rounded-circle", size: "100x100"   %></li>
                          <li class="list-group-item"><h5><%= comment.comment %></h5></li>
                          <li class="list-group-item"><h5><strong>投稿日:</strong><%= I18n.l comment.user.created_at %></h5></li>
                          <% if comment.user == current_user %>
                          <li class="list-group-item"><%= link_to '削除',sauna_comment_path(@sauna.id,comment.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></li>
                          <% else %>
                          <% end %>
                          <% if current_user != comment.user%>
                          <li class="list-group-item"><div id="comment_favorite_btn_<%= comment.id %>">
                          <%= render 'public/comment_favorites/comment_favorite', comment: comment, sauna: @sauna  %></div></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                    </div>
                      <% end %>
                </div>
            <%= paginate @comments, theme: 'bootstrap-5' %>
        </div>
    </div>
</div>
<script>
var elem = document.getElementById('post_raty');
var opt = {
  score: <%= @sauna.star || 0 %>,
  starOn: "<%= asset_path('star-on.png') %>",
  starOff: "<%= asset_path('star-off.png') %>",
  starHalf: "<%= asset_path('star-half.png') %>",
};
raty(elem,opt);
</script>
<%= render 'layouts/footer'%>
