<%= render 'layouts/header'%>
    <div class="container">
      <div class="card text-center">
       <div class="card-header">
        <%= @sauna.name %>のコメント一覧ページ
       　</div>
       　　<div id="post_raty"></div>
         <div id="favorite_btn_<%= @sauna.id %>">
          <%= render 'public/favorites/favorite', sauna: @sauna %>
          </div>
           <div class="card-body">
            <div class="row">
              <% @comments.each do |comment| %>
               <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="card">
                <div class="card-header">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= comment.comment %></li>
                    <li class="list-group-item"><%= comment.user.name %></li>
                    <li class="list-group-item">年齢:<%= comment.user.birth_date %></li>
                    <li class="list-group-item">投稿日:<%= I18n.l comment.user.created_at %></li>
                  </ul>
               </div>
           </div>
         </div>
         <% end %>
        </div>
    </div>
  </div>
</div>
<script>
var elem = document.getElementById('post_raty');
var opt = {
  score: <%= @sauna.star || 0 %>,
  starOn: "<%= asset_path('star-on.png') %>",
  starOff: "<%= asset_path('star-off.png') %>",
  starHalf: "<%= asset_path('star-half.png') %>",
};
raty(elem,opt);
</script>
<%= render 'layouts/footer'%>
