<%= render 'layouts/header'%>
<% if @comment.errors.any? %>
  <%= @comment.errors.count %>件のエラーが発生しました
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
　<div class="row">
　  <div class="col-md-12 col-md-12 col-lg-6 px-6 px-sm-0 mx-auto">
　   <div class="card text-center">
      <div class="card-header">
         コメントを書き込む
       </div>
         <div class="card-body">
           <div class="row">
            <%= form_with model: [@sauna, @comment], local: true do |f| %>
               <div class="card-header">
               <%= f.text_area :comment, rows: '8',cols: '50', placeholder: "コメントを入力" %>
                <%= f.submit "送信する",class:"btn btn-primary"%>
               </div>
               <% end %>
           </div>
        </div>
     </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>