<%= render 'layouts/header'%>
<% if @users.exists? %>
<div class="card text-center">
  <div class="card-header">
    フォロワー
   </div>
    <div class="card-body">
    	<% @users.each do |user| %>
    	<h5 class="card-title">画像</h5>
      <p class="card-text"><%= image_tag user.get_profile_image  %></p>
      <h5 class="card-title">名前</h5>
      <p class="card-text"><%= user.name %></p>
      <p class="card-text"><%= link_to "マイページ",user_path(user.id) %></p>
      <p class="card-text"><%= render 'public/relationships/btn', user: user %></p>
      <% end %>
    </div>
</div>
<% else %>
<p>ユーザーはいません</p>
<% end %>
<%= render 'layouts/footer'%>