<%= render 'layouts/header'%>
<% if @sauna.errors.any? %>
  <%= @sauna.errors.count %>件のエラーが発生しました
  <ul>
    <% @sauna.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-8 col-lg-6 px-6 px-sm-0 mx-auto">
		  <div class="card text-center">
		    <div class="card-header">
			  投稿編集画面
			  </div>
			  <div class="card-body">
			  <%= form_with model: @sauna, local:true do |f| %>
			  <ul class="list-group list-group-flush">
		  　　<li class="list-group-item">個室サウナ名:<%= f.text_field :name, class: 'form-control sauna_name' %></li>
          <li class="list-group-item">サウナ画像:<%= f.file_field :profile_image %></li>
          <li class="list-group-item">都道府県:<%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, { include_blank: '都道府県' }, { class: 'custom-select' } %></li>
          <li class="list-group-item">住所:<%= f.text_field :place, class: 'form-control sauna_name' %></li>
          <li class="list-group-item">サウナ室温度:<%= f.text_field :temperature, class: 'form-control sauna_temperature', placeholder: "数字のみ記入お願いします" %></li>
          <li class="list-group-item">入浴料:<%= f.text_field :price, class: 'form-control sauna_name', placeholder: "数字のみ記入お願いします" %></li>
          <li class="list-group-item">利用時間:<%= f.text_field :time, class: 'form-control sauna_name', placeholder: "数字のみ記入お願いします" %></li>
          <li class="list-group-item">定休日:<%= f.text_field :holiday, class: 'form-control sauna_name', placeholder: "例火曜日の場合⇨火" %></li>
          <li class="list-group-item">レビュー:<%= f.text_area :comment, rows: '5', cols: '49', placeholder: "レビューを入力", class: 'form-control' %>
          <div id="post_raty" >
            &emsp;
            評価：
          </div>
          <li class="list-group-item mb-3"><%= f.submit '編集する',class:"btn btn-success"%></li>
        </ul>
      </div>
    </div>
    <% end %>
  	</div>
  </div>
</div>
<script>
  var elem = document.getElementById('post_raty');
  var opt = {
    score: <%= @sauna.star || 0 %>,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'sauna[star]'
  };
  raty(elem,opt);
</script>
<%= render 'layouts/footer'%>
