<%= render 'layouts/header'%>
 <%= render 'public/searchs/sauna' %>
 <%= render 'public/searchs/form' %>
    <div class="card text-center">
     <div class="card-header">
       レビュー一覧
       </div>
         <div class="card-body">
          <div class="row">
           <% @saunas.each do |sauna| %>
             <div class="col-md-12 col-12">
                <div class="card">
                  <div class="card-header">
                   <strong><%= sauna.name %></strong></br>
                   </div>
                   <div class="card-body">
                   <p class="card-text"><%= image_tag sauna.get_profile_image(100,100)%></p>
                   </div>
                   <div id="favorite_btn_<%= sauna.id %>">
                   <%= render 'public/favorites/favorite', sauna: sauna %>
                   <div id="post_raty_<%= sauna.id %>">
                      &emsp;
                      評価：
                   </div>
                     <h5 class="card-title">住所:<%= sauna.prefecture %><%= sauna.place %></h5>
                     <h5 class="card-title">サウナ室温度:<%= sauna.temperature %>度</h5>
                     <h5 class="card-title">入浴料:<%= sauna.price %>円</h5>
                     <h5 class="card-title">利用時間:<%= sauna.time %>時間</h5>
                     <h5 class="card-title">定休日:<%= sauna.holiday %>曜日</h5>
                     <h5 class="card-title">投稿者名:<%= link_to sauna.user.name, user_path(sauna.user) %></h5>
                     <p class="card-text">コメントを見る: <%= link_to sauna.comments.size,sauna_comments_path(sauna) %></p>
                     <p class="card-text"><%= link_to '詳細', sauna_path(sauna.id), class:"btn btn-primary" %></p>
                     <script>
                     $('#post_raty_<%= sauna.id %>').empty();
                     var id_str = 'post_raty_' + <%= sauna.id %>;
                     var elem = document.getElementById(id_str);
                 　　　var opt = {
                    　score: <%= sauna.star || 0 %>,
                    　starOn: "<%= asset_path('star-on.png') %>",
                    　starOff: "<%= asset_path('star-off.png') %>",
                    　starHalf: "<%= asset_path('star-half.png') %>",
                 　　　};
                  　　raty(elem,opt);
              　　   　</script>
                  </div>
                 </div>
               </div>
              <% end %>
            </div>
         </div>
      </div>
     </div>
  <%= render 'layouts/footer'%>