<%= render 'layouts/header'%>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-8 col-lg-8 px-8 px-sm-0 mx-auto">
      <div class="card text-center">
          <div class="card-header">
            <h4>サウナ詳細画面</h4>
          </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="card">
                    <div class="card-header">
                      <h4><strong><%= @sauna.name %></strong></h4>
                    </div>
                      <div class="card-body">
                        <%= image_tag @sauna.get_profile_image(500,500), class: "img-fluid"  %></br>
                          <div id="map"></div>
                        <div id="post_raty">
                          &emsp;
                          評価：
                        </div>
                        <h5><strong><%= @sauna.comment %></strong></h5></br>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><h5><strong>住所</strong></br>〒<%= @sauna.post_code %></br><%= @sauna.prefecture %><%= @sauna.place %></br><%= @sauna.address %></h5></li>
                          <li class="list-group-item"><h5><strong>サウナ室温度:</strong><%= @sauna.temperature %>度</h5></li>
                          <li class="list-group-item"><h5><strong>入浴料:</strong><%= @sauna.price %>円</h5></li>
                          <li class="list-group-item"><h5><strong>利用時間:</strong><%= @sauna.time %>時間</h5></li>
                          <li class="list-group-item"><h5><strong>定休日:</strong><%= @sauna.holiday %>曜日</h5></li>
                          <li class="list-group-item"><h5><strong>投稿日:</strong><%= I18n.l @sauna.created_at %></h5></li>
                          <!--lだけではNoMethodErrorになる。-->
                          <!--その場合は、lの代わりにI18n.l-->
                          <% if current_user != @sauna.user%>
                          <li class="list-group-item"><%= link_to 'コメントを書く', new_sauna_comment_path(@sauna), class: "btn btn-sm btn-success" %></li>
                          <% end %>
                          <% if @sauna.user == current_user %>
                          <li class="list-group-item"><%= link_to '編集', edit_sauna_path(@sauna), class: "btn btn-sm btn-success" %>
                            <%= link_to '削除',sauna_path(@sauna.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></li>
                          <% else %>
                          <% end %>
                        </ul>
                        <script>
                          $('#post_raty').empty();
                          var elem = document.getElementById('post_raty');
                          var opt = {
                            score: <%= @sauna.star || 0 %>,
                            starOn: "<%= asset_path('star-on.png') %>",
                            starOff: "<%= asset_path('star-off.png') %>",
                            starHalf: "<%= asset_path('star-half.png') %>",
                            };
                          raty(elem,opt);
                        </script>
                        <style>#map{ height: 450px;}</style>
                        <script>
                        let map;
                        function initMap() {
                          geocoder = new google.maps.Geocoder()
                          map = new google.maps.Map(document.getElementById('map'), {
                            center: {
                                      lat: gon.sauna.latitude,
                                      lng: gon.sauna.longitude
                                    },
                            zoom: 16,
                          });

                          // ピン立て
                          marker = new google.maps.Marker({
                            position: {
                                        lat: gon.sauna.latitude,
                                        lng: gon.sauna.longitude
                                      },
                            map: map
                          });
                        }
                      </script>
                      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap" async defer></script>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>
