<%= render 'layouts/header'%>
<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container p-5">
	<div class="row">
		<div class="col-md-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
			<div class="card text-center">
				<div class="card-header">
			   ユーザー編集画面
			   </div>
			   <div class="card-body">
			   <%= form_with model:@user, local:true do |f| %>
			  <ul class="list-group list-group-flush">
         <li class="list-group-item">プロフィール画像:<%= f.file_field :profile_image, class: "img-fluid card-img-top" %></li>
         <li class="list-group-item">ニックネーム:<%= f.text_field :name, class: "form-control name" %></li>
         <li class="list-group-item">年齢:<%= f.text_field :birth_date, class: "form-control birth_date", placeholder: "数字のみ記入お願いします" %></li>
         <li class="list-group-item">性別:<%= f.text_field :gender, class: "form-control gender" %></li>
         <li class="list-group-item"><%= f.submit "編集内容を保存する",class: "btn btn-secondary" %></li>
         <li class="list-group-item"><%= link_to '退会する', user_unsubscribe_path(@user.id), class: "glyphicon glyphicon-tint btn btn-danger"%></li>
        </ul>
         <% end %>
				</div>
			</div>
    </div>
  </div>
 </div>
<%= render 'layouts/footer'%>
