<%= render 'layouts/header'%>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
			<h2>ユーザー編集画面</h2>
			<%= form_with model:@user, local:true do |f| %>
        </br><label>プロフィール画像</label>
				</br><%= f.file_field :profile_image, class: "img-fluid card-img-top" %></br>
				<label>ニックネーム</label>
				</br><%= f.text_field :name, class: "form-control name" %></br>
				<label>年齢</label>
				</br><%= f.text_field :birth_date, class: "form-control birth_date", placeholder: "数字のみ記入お願いします" %></br>
				<label>性別</label>
				</br><%= f.text_field :gender, class: "form-control gender" %></br>
			　<div><%= f.submit "編集内容を保存する",class: "btn btn-secondary" %></div>
			　<div><%= link_to '退会する', user_unsubscribe_path(@user.id), class: "glyphicon glyphicon-tint btn btn-danger"%></div>
			<% end %>
    </div>
  </div>
 </div>
<%= render 'layouts/footer'%>
