<%= render 'layouts/header'%>
<h2>ユーザー一覧</h2>
<%= render 'public/searchs/user' %>
<table class="table">
	<thed>
		<tr>
			<th>image</th>
			<th>name</th>
			<th></th>
			<th></th>
			<th></th>
			<th colspan="5"></th>
		</tr>
	</thed>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= image_tag user.get_profile_image  %></td>
			<td><%= user.name %>歳</td>
			<td><%= link_to "マイページ",user_path(user.id) %></td>
			<td><%= render 'public/relationships/btn', user: user %></td>
			<td></td>
     </tr>
     <% end %>
     </table>
	</tbody>
</table>
<%= render 'layouts/footer'%>