<%= render 'layouts/header'%>
<table>
<div class="container">
  <div class="row md-5">
    <div class ="col-1"></div>
    <div class ="col-2">
      <h2 class="table-secondary">マイページ</h2>
    </div>
  </div>
  <div class="row my-3">
    <div class="my_page_btn col-2">
        <h3>登録情報</h3>
    </div>
    <div class="my_page_btn col-2">
        <span><%= link_to "編集する",  edit_user_path, class: " item_show_btn btn btn-success" %></span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="information col-3 table-secondary">画像</td>
            <td><%= image_tag @user.get_profile_image  %></td>
          </tr>
          <tr>
            <td class="information col-3 table-secondary">ニックネーム</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td class="information col-3 table-secondary">年齢</td>
            <td><%= @user.birth_date %></td>
          </tr>
          <tr>
            <td class="information col-3 table-secondary">性別</td>
            <td><%= @user.gender %></td>
          </tr>
          <tr>
            <td class="information col-3 table-secondary">メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<%= render 'layouts/footer'%>
