<%= render 'layouts/header'%>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="card text-center">
       <div class="card-header">
        マイページ
         </div>
          <div class="card-body">
           <div class="row">
             <div class="col-md-12 col-12">
              <h5 class="card-title"><%= @user.name %></h5>
              </br><%= image_tag @user.get_profile_image %></br>
              <ul class="list-group list-group-flush">
               <li class="list-group-item">年齢:<%= @user.birth_date %>歳</li>
               <li class="list-group-item">性別:<%= @user.gender %></li>
               <li class="list-group-item">フォロー:<%= link_to @user.followings.count, user_followings_path(@user) %></li>
               <li class="list-group-item">フォロワー:<%= link_to @user.followers.count, user_followers_path(@user) %></li>
               <% if @user == current_user && @user.name != "guestuser" %>
                <li class="list-group-item"><%= link_to "編集する", edit_user_path %></li>
               <% else %>
               <% end %>
               <li class="list-group-item"><%=link_to "行ってみたいの一覧ページ",favorites_user_path(@user) %></li>
               <li class="list-group-item"><%= link_to "投稿内容を確認する", sauna_show_index_sauna_path(@user) %></li>
             </ul>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
 <%= render 'layouts/footer'%>