<%= render 'layouts/header'%>
<div class="container p-5">
    <div class="col-md-12 col-md-12 col-lg-7 px-7 px-sm-0 mx-auto">
      <div class="card text-center">
       <div class="card-header">
        <h4>マイページ</h4>
         </div>
          <div class="card-body">
           <div class="row">
             <div class="col-md-12 col-12">
              <div class="card">
               <div class="card-header">
                <h4><strong><%= @user.name %></strong></h4>
               </div>
               <div class="card-body">
                <%= image_tag @user.get_profile_image  %>
              <ul class="list-group list-group-flush">
               <li class="list-group-item"><strong>年齢:</strong><%= @user.birth_date %>歳</li>
               <li class="list-group-item"><strong>性別:</strong><%= @user.gender %></li>
               <li class="list-group-item"><strong>フォロー:</strong><%= link_to @user.followings.count, user_followings_path(@user) %></li>
               <li class="list-group-item"><strong>フォロワー:</strong><%= link_to @user.followers.count, user_followers_path(@user) %></li>
               <% if @user == current_user && @user.name != "guestuser" %>
                <li class="list-group-item"><%= link_to "編集する", edit_user_path,class:"btn btn-primary" %></li>
               <% else %>
               <% end %>
               <li class="list-group-item"><%=link_to "行ってみたいの一覧ページ",favorites_user_path(@user),class:"btn btn-info" %></li>
               <li class="list-group-item"><%= link_to "投稿内容を確認する", sauna_show_index_sauna_path(@user),class:"btn btn-info" %></li>
             </ul>
             </div>
            </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>
 <%= render 'layouts/footer'%>